.custom-card {
  width: 18rem;
  border-radius: 15px;
  position: relative;
  border: 1px solid #eee;
  transition: all 0.3s ease;
  /* background-color: #ffffff; */
  cursor: pointer;
  /* padding-top: 100px; */
}

.custom-card {
  /* Blue highlight */
  color: #fff;
}

.custom-card.active .price-text {
  color: #fff;
}

.custom-select {
  border-radius: 8px;
}

.price-text {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.qty-btn {
  border: none;
  background: #ddd;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.qty-btn:hover {
  background: #bbb;
}

.add-btn {
  background: #ffc107; /* Yellow */
  border: none;
  border-radius: 20px;
  padding: 6px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-btn:hover {
  background: #e0a800;
}
